#grid {
    height: 720px;
    width: 720px;
    display: flex;
    flex-wrap: wrap;
    border: 1px;
}

.block {
    background-color: white;
    width: 43px;
    border: 1px solid black;
    flex: 1 1 auto;
}

.active {
    background-color: black;
}